{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="margin-top: 10px; max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>Hi, I'm Niklas!</h1>

            {{ partial "subtitle.html" . }}

            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/about" style="text-decoration: underline; margin: 10px 10px;">
                    About
                </a>
                <a href="/projects" style="text-decoration: underline; margin: 10px 10px;">
                    Projects
                </a>
                <a href="/contact" style="text-decoration: underline; margin: 10px 10px;">
                    Contact
                </a>
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            
        </div>
    </main>
{{ end }}
