{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>
                <ul class="posts-list">
                    {{ range .Pages }}
                            <li class="post-item">
                                {{ if eq .Params.Type "project" }}
                                <!-- This snippet is for aligning Title and Image next to each other. -->
                                <div style="display: flex; align-items: center;">
                                    <a href="{{ .Permalink }}" style="text-decoration: underline; width: 600px;">{{ .Title }}</a>
                                    {{ if .Params.Cover }}
                                        <a href="{{ .Permalink }}"><img src="{{ printf "/%s" .Params.Cover }}" alt="{{ .Title }}" style="width: 700px; height: auto; margin-left: 10px; vertical-align: middle;"></a>
                                    {{ end }}
                                </div>
                                
                                <!-- This snippet is for showing only the image above the Description. -->
                                <!-- <a href="{{ .Permalink }}" style="text-decoration: underline;">{{ .Title }}</a> -->
                                    <!-- <a href="{{ .Permalink }}">
                                        <img src="{{ printf "/%s" .Params.Cover }}" alt="{{ .Title }}" style="width: 250px; height: auto; margin-top: 12px; vertical-align: middle;">
                                    </a> -->
                                {{ end }}
                                <a href="{{.Permalink}}">
                                    <span class="post-title">
                                        {{ if eq .Params.Type "project" }}
                                            {{ .Description }} <a href="{{ .Permalink }}" style="text-decoration: underline;">mehr erfahren</a>
                                        {{ else }}
                                            {{ .Title }}
                                        {{ end }}

                                    </span>
                                    {{ if eq .Params.Type "post" }}
                                        <span class="post-day">
                                            {{ if .Site.Params.dateformShort }}
                                                {{ .Date.Format .Site.Params.dateformShort }}
                                            {{ else }}
                                                {{ .Date.Format "Jan 2"}}
                                            {{ end }}
                                        </span>
                                    {{ end }}
                                    <!-- This snippet is for showing only the image below the Description. -->
                                    <!-- {{ if eq .Params.Type "project" }}
                                        <a href="{{ .Permalink }}">
                                            <img src="{{ printf "/%s" .Params.Cover }}" alt="{{ .Title }}" style="width: 250px; height: auto; margin-bottom: 12px; vertical-align: middle;">
                                        </a>
                                    {{ end }} -->
                                </a>
                                
                            </li>
                        
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
